.carousel {
  display: flex;
  column-gap: 1.5rem;
  padding: 2rem 2.5rem;
  width: 100%;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 2rem;
  transition: all 0.3s linear;
}

img {
  height: 4.75rem;
  width: 4.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.member-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Aligns text to the left */
}

p {
  font-size: 1.35rem;
  font-weight: 500;
  color: #a8a1a1; /* Light gray color for better contrast */
  margin: 0; /* Remove any default margins */
}

.member-links {
  display: none; /* Hide the member-links section since we're removing social media links */
}

/* For screens less than 700px */
@media only screen and (max-width: 700px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .member-details {
    align-items: center;
    row-gap: 1rem;
  }
}
